#encoding: utf-8
<% provide(:title, 'Formulario de elenco en gira') %>
<h1>Elenco en gira</h1>

<% if !(@formulario.elenco_en_gira.valid?) %>
    <%= render 'shared/error_messages', :object => @formulario.elenco_en_gira %>   
<% end %>

<div id="integrantes de elenco en gira">

<h3>Integrantes de Elenco en Gira</h3><p>(* 1 Integrantante como mínimo)</p>
<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Tipo de Documento</th>
    <th>Número de Documento</th>
    <th>Fecha de nacimiento</th>
    <th>Roles</th>
    <th>Valido?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @integrantes) do |integrante| %>

    <td><%= integrante.nombre %></td>
    <td><%= integrante.apellido %></td>
    <td><%= integrante.email %></td>
    <% if !integrante.nacionalidad_integrante.nil? %>
        <% if integrante.nacionalidad_integrante.procedencia_type == "Nacional" %>
            <td>CUIL/CUIT</td>
            <td><%= integrante.nacionalidad_integrante.procedencia.cuil_cuit if integrante.nacionalidad_integrante.procedencia.cuil_cuit  %></td>
        <% end %>

         <% if integrante.nacionalidad_integrante.procedencia_type == "Extranjero" %>
            <td><%= integrante.nacionalidad_integrante.procedencia.tipo_doc if integrante.nacionalidad_integrante.procedencia.tipo_doc %></td>
            <td><%= integrante.nacionalidad_integrante.procedencia.num_doc if integrante.nacionalidad_integrante.procedencia.num_doc %></td>
        <% end %>    
    <% else %>    
        <td> </td>
        <td> </td>
    <% end %>
    <td><%= I18n.l(integrante.fecha_de_nacimiento) if integrante.fecha_de_nacimiento %></td>
    <td><%= integrante.integrante_roles.map { |e| e.detalle }.join(", ") %></td>
    <% if integrante.valid? %>
      <td><font color="green">Sí</font></td>
    <% else %>    
      <td><font color="red">No</font></td>
    <% end %>
    <td><%= link_to "Ver", formulario_integrante_de_elenco_en_gira_path(@formulario, integrante) %></td>

    <td><%= link_to "Editar", edit_formulario_integrante_de_elenco_en_gira_path(@formulario, integrante) %></td>

    <td><%= link_to t("scaffoldi18n.destroy"), formulario_integrante_de_elenco_en_gira_path(@formulario, integrante), :data => {confirm: t("scaffoldi18n.are_you_sure?")}, method: :delete %></td>
    
  <% end %>
</table>
<%= link_to "Nuevo Integrante de elenco en gira", new_formulario_integrante_de_elenco_en_gira_path(@formulario), class: "btn btn-medium btn-primary" %>

<br />

</div>
</br>
</br>
<p>Recordar que para las funciones en gira, los roles a cubrir además de los intérpretes, es de TRES (3) personas como máximo, no pudiendo ser más de DOS (2) los roles de Técnicos/Asistentes. Por ejemplo: en el caso que haya UN (1) Director en gira, los Técnicos/Asistentes en gira podrán ser como máximo DOS (2); en el caso que haya DOS (2) Directores en gira, los Técnicos/Asistentes en gira podrán ser como máximo UNO (1). Asimismo, en el caso que el director sea intérprete del espectáculo, ese lugar no será reemplazable, es decir que aunque el espectáculo no tenga ningún Director en gira, igualmente los Técnicos/Asistentes podrán ser como máximo DOS (2). Para mayores detalles, ver en <a href="../../INT_PRESENTA_Convocatoria_Catalogo_2015.doc"> Reglamentación </a>“Monto de los Honorarios”.</p>
</br>

<%= link_to "Finalizar elenco en gira", edit_formulario_path(@formulario), class: "btn btn-medium btn-primary" %>
</br>

</br>

<%= link_to t('Volver a campos de datos'), edit_formulario_path(@formulario) %>

</div>