#encoding: utf-8
<% provide(:title, 'Datos del integrante') %>
<h1>Datos del integrante</h1>

</br>
<p>
  <b>Nombre:</b>
  <%= @integrante.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @integrante.apellido %>
</p>

<% if (@integrante.nacionalidad_integrante) %>
  <p>
    <b>Nacionalidad del integrante:</b>
    <%= @integrante.nacionalidad_integrante.nacionalidad.detalle %>
  </p>

  <% if (@integrante.nacionalidad_integrante.procedencia_type == "Nacional") %>
    <p>
      <b>CUIL / CUIT:</b>
      <%= @integrante.nacionalidad_integrante.procedencia.cuil_cuit %>
    </p>
  <% end %>

  <% if (@integrante.nacionalidad_integrante.procedencia_type == "Extranjero") %>
    <p>
      <b>Tipo de Documento:</b>
      <%= @integrante.nacionalidad_integrante.procedencia.tipo_doc %>
    </p>

    <p>
      <b>Número de Documento:</b>
      <%= @integrante.nacionalidad_integrante.procedencia.num_doc %>
    </p>
  <% end %>
<% end %>

<p>
  <b>Fecha de nacimiento:</b>
  <%= I18n.l(@integrante.fecha_de_nacimiento) if @integrante.fecha_de_nacimiento %>
</p>

<p>
  <b>Calle:</b>
  <%= @integrante.calle %>
</p>

<p>
  <b>Numero de calle:</b>
  <%= @integrante.altura_calle %>
</p>

<p>
  <b>Piso:</b>
  <%= @integrante.piso %>
</p>

<p>
  <b>Departamento:</b>
  <%= @integrante.depto %>
</p>

<p>
  <b>Provincia:</b>
  <%= @integrante.provincia.detalle if @integrante.localidad %>
</p>

<p>
  <b>Localidad:</b>
  <%= @integrante.localidad.detalle if @integrante.localidad %>
</p>

<p>
  <b>Código postal:</b>
  <%= @integrante.codigo_postal %>
</p>

<p>
  <b>Teléfono particular:</b>
  <%= @integrante.tel_particular %>
</p>

<p>
  <b>Teléfono celular:</b>
  <%= @integrante.tel_celular %>
</p>

<p>
  <b>Email:</b>
  <%= @integrante.email %>
</p>

<p>
  <b>Roles del Integrante:</b>
  <%= @integrante.integrante_roles.map { |e| e.detalle }.join(", ") %>
</p>

<%= link_to t('Volver a elenco en gira'), formulario_elencos_en_gira_path %>
