#encoding: utf-8
  <%= form_for([@formulario, @principal]) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <p>Los campos marcados con * son obligatorios</p>
  
    <div class="field">
        <br/><%= f.label :provincia, "Provincia *" %>
        <%= collection_select(:p, "provincia_id", @provincias, "id", "detalle", :include_blank => "Seleccione una provincia...", :selected => selected(@principal.localidad)) %>
    </div>

    <div class="field">
    <%= f.label :localidad, "Localidad *" %>
    <%= f.grouped_collection_select("localidad_id", @provincias, "localidades", "detalle", "id", "detalle", :include_blank => "Seleccione una localidad...") %>
    </div>

  <div class="field">
    <br/><%= label_tag :region, "Región" %>
    <%= text_field_tag :region, nil, disabled: true %>
  </div>

  <div class="field">
    <br/><%= f.label :grupo, "Grupo o espectáculo concertado *" %>
    <%= f.collection_select("grupo_id", @grupos, "id", "detalle", :include_blank => "Seleccione si es grupo o espectáculo concertado...") %>
  </div>

  <div class="field">
    <br/><%= f.label :nombre, "Nombre del espectáculo *" %>
    <%= f.text_field :nombre %>
  </div>

  <h3>Datos del Contacto</h3>

  <div class="field">
    <%= f.label :nombre_contacto, "Nombre del contacto *" %>
    <%= f.text_field :nombre_contacto %>
  </div>

  <div class="field">
    <br/><%= f.label :apellido_contacto, "Apellido del contacto *" %>
    <%= f.text_field :apellido_contacto %>
  </div>

  <p>Se debe completar al menos un teléfono</p>

    <div class="field">
      <%= f.label :tel_particular, "Prefijo - Teléfono Particular del contacto(sin guiones ni puntos)" %>
    </div>
    <div class="form-inline">              
      <%= f.text_field :prefijo_tel_part %>
      <%= f.text_field :tel_particular %>
    </div>

    <div class="field">
      <%= f.label :tel_celular, "Prefijo - Teléfono Celular del contacto (sin guiones ni puntos)" %>
    </div>
    <div class="form-inline">    
      <%= f.text_field :prefijo_tel_cel %>
      <%= f.text_field :tel_celular %>
    </div>

    <div class="field">
      <%= f.label :email_contacto, "Email del contacto *" %>
      <%= f.text_field :email_contacto %>
    </div>
     <br/>

  <div class="actions">
    <%= f.submit "Guardar Datos", class: "btn btn-large btn-primary" %>
  </div>
<% end %>