#encoding: utf-8
<% provide(:title, 'Busqueda de persona') %>
<h2>Datos del integrante encontrado</h2>
<p>
  <b>Nombre:</b>
  <%= @buscado.nombre_per_juridica if @buscado.nombre_per_juridica%>
</p>

<p>
  <b>CUIT:</b>
  <%= @buscado.num_cuit if @buscado.num_cuit%>
</p>

<p>
  <b>Numero de personeria jurídica:</b>
  <%= @buscado.num_per_juridica if @buscado.num_per_juridica%>
</p>

<p>
  <b>Calle:</b>
  <%= @buscado.calle if @buscado.calle %>
</p>

<p>
  <b>Numero de calle:</b>
  <%= @buscado.altura_calle if @buscado.altura_calle%>
</p>

<p>
  <b>Piso:</b>
  <%= @buscado.piso if @buscado.altura_calle%>
</p>

<p>
  <b>Departamento:</b>
  <%= @buscado.depto if @buscado.depto%>
</p>

<p>
  <b>Provincia:</b>
  <%= @buscado.provincia.detalle %>
</p>

<p>
  <b>Localidad:</b>
  <%= @buscado.localidad.detalle %>
</p>

<p>
  <b>Código postal:</b>
  <%= @buscado.codigo_postal if @buscado.codigo_postal %>
</p>

<p>
  <b>Teléfono entidad:</b>
  <%= @buscado.tel_entidad if @buscado.tel_entidad%>
</p>

<p>
  <b>Email entidad:</b>
  <%= @buscado.email_entidad if @buscado.email_entidad %>
</p>
</br>
<p>Es la persona que buscaba?</p>
<%= link_to "Si", formulario_personas_juridicas_e_path(@formulario, :buscado_id => @buscado.id), method: :post, class: "btn btn-large btn-medium" %>
<%= link_to "No", new_formulario_persona_juridica_e_path(@formulario), class: "btn btn-large btn-medium" %>