#encoding: utf-8
<% provide(:title, 'Integrantes comisi칩n directiva') %>
<h2>Integrantes comisi칩n directiva</h2><p>(* 5 Integrantes como m치ximo)</p>


<div id="integrantes">
<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cargo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @integrantes_comision) do |integrante| %>

    <td><%= integrante.nombre %></td>
    <td><%= integrante.apellido %></td>
    <td><%= integrante.cargo %></td>

    <td><%= link_to "Ver", formulario_integrante_comision_directiva_path(@formulario, integrante) %></td>

    <td><%= link_to "Modificar", edit_formulario_integrante_comision_directiva_path(@formulario, integrante) %></td>

    <td><%= link_to t("scaffoldi18n.destroy"), formulario_integrante_comision_directiva_path(@formulario, integrante), :data => {confirm: t("scaffoldi18n.are_you_sure?")}, method: :delete %></td>
    
  <% end %>
</table>
<%= link_to "Nuevo integrante", new_formulario_integrante_comision_directiva_path(@formulario), class: "btn btn-medium btn-primary" %>
<%= link_to "Finalizar comisi칩n directiva", edit_formulario_path(@formulario), class: "btn btn-medium btn-primary" %>

<br />
<br />

<%= link_to t('Volver a campos de datos'), edit_formulario_path(@formulario) %>

</div>