#encoding: utf-8
<% provide(:title, 'Datos del integrante') %>
<h1>Datos de integrante de la comisión directiva</h1>

</br>
<p>
  <b>Cargo:</b>
  <%= @integrante.cargo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @integrante.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @integrante.apellido %>
</p>

<p>
  <b>CUIL / CUIT:</b>
  <%= @integrante.cuil_cuit %>
</p>

<p>
  <b>Fecha de nacimiento:</b>
  <%= I18n.l(@integrante.fecha_de_nacimiento) %>
</p>

<p>
  <b>Calle:</b>
  <%= @integrante.calle %>
</p>

<p>
  <b>Numero de calle:</b>
  <%= @integrante.altura_calle %>
</p>

<p>
  <b>Piso:</b>
  <%= @integrante.piso %>
</p>

<p>
  <b>Departamento:</b>
  <%= @integrante.depto %>
</p>

<p>
  <b>Provincia:</b>
  <%= @integrante.provincia.detalle %>
</p>

<p>
  <b>Localidad:</b>
  <%= @integrante.localidad.detalle %>
</p>

<p>
  <b>Código postal:</b>
  <%= @integrante.codigo_postal %>
</p>

<p>
  <b>Teléfono particular:</b>
  <%= @integrante.tel_particular %>
</p>

<p>
  <b>Teléfono celular:</b>
  <%= @integrante.tel_celular %>
</p>

<p>
  <b>Email:</b>
  <%= @integrante.email %>
</p>

<%= link_to t('Volver a campos de datos'), formulario_integrantes_comision_directiva_path %>